<section class="contact" id="contact" aria-labelledby="contact-title" data-section="contact" data-reveal tabindex="-1">
  <div class="section-shell" data-reveal-group>
    <div class="section-header content" data-reveal-item>
      <h2 id="contact-title">Contact</h2>
      <p>Let’s build something reliable together.</p>
    </div>
    <ul class="contact-links content" data-reveal-item>
      <li>
        <a class="text-link contact-link" href="mailto:ammaar720@hotmail.co.uk">
          <img src="/assets/icons/Email.svg" alt="" class="contact-icon" />
          Email
        </a>
      </li>
      <li>
        <a class="text-link contact-link" href="https://github.com/ammaarM" target="_blank" rel="noreferrer">
          <img src="/assets/icons/GitHub.svg" alt="" class="contact-icon" />
          GitHub
        </a>
      </li>
      <li>
        <a class="text-link contact-link" href="https://www.linkedin.com/in/ammaar-murshid-92119218a/" target="_blank" rel="noreferrer">
          <img src="/assets/icons/LinkedIn.svg" alt="" class="contact-icon" />
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</section>
